<main class="TodoPageMain">
    <article>
<div class="OwnerLinkers">
<%= link_to "Sign-Out",destroy_session_path,method: "delete",class:"Linker"%>
    <p><%=link_to  "View Orders",orderreceived_index_path,class:"Linker" %></p>
    <p><%=link_to  "View Users",viewusersbyowner_index_path,class:"Linker" %></p>
     <p><%=link_to  "View Stats",reports_path,class:"Linker" %></p>
    </div>
<div class="Breakfast">
<p>All happiness depends on a leisurely breakfast </p>
<p>Breakfast is everything</p>
 <p><%=link_to  "Add Items to Inventory",additems_path,class:"Linker" %></p>
</div>

    <h3 class="Fooditem">Have a delicious food</h3>
    </article>
</main>
