 <section class="TodoSection">
  <div class="TodoSectionTitle" display: flex>
    <p class="TodoSectionTitle-text"><%=section_title%></p>
    <p class="TodoSectionTitle-remainingCount">

    </p>
  </div>
  <ul>
  <%@bill_amount=0%>
    <% items.each do |item|%>
       <li class="OrderItem">
         <label class="OrderItem-container">
         <% if item.quantity!=nil %>
                <%   if item.quantity>=1  %>
                    <%@bill_amount= @bill_amount + item.menu_item_cost * item.quantity%>
                    <div class="OrderMenu">
                    <p class="Ordereditemname"><%=item.menu_item_name%></p>
                    <p class="Ordereditemcost">Quantity : <%=item.quantity%>
                    </p>
                    </div>
                    <p class="Ordereditemcost">Total Cost :  Rs.<%=item.menu_item_cost * item.quantity%> /-</p>
                    <%= form_with(url: "/orderitems/#{item.id}",method: "DELETE") do %>
                       <input type='image' class="Ordered-delete" src="t.png" alt="Delete" height="20" width="20">
                        <p class="OrderQuantityUpdate">  <%=link_to "Update Quantity"  ,edit_orderitem_path(item)%></p>
                      <%end%>

            <%end%>
         <%end%>
          <%if item.quantity=="nil" %>
          <p class="Orderquantityflash"><%=flash[:error]= "Quantity cannot be nil and less than 1 "%></p>
          redirect_to edit_orderitem_path
        <%end%>
        <%end%>
       </li>
        <p>----------------------------------------------</p>
     <div class="Billamount"><p class="Outer">Total bill amount :<p class="Bill"> Rs.<%= @bill_amount%>/-</p> </p></div>   </label>
     <div class="OrderMenu">
      <%= form_with(url: "/billitems",method: "POST") do %>
                     <input type='button'  value="Confirm Order" class="Processorder"
                     alt="Add items" onclick="this.form.submit()">
                   <%end%>
                   <%= form_with(url: "/menuitems",method: "GET") do %>
                     <input type='button'  value="Order More Items " alt="RedirectBack" class ="Buttonredirect"onclick="this.form.submit()">
                   <%end%>
                   </div>
    </ul>
    </section>
