 <section class="TodoSection">
  <div class="TodoSectionTitle" display: flex>
    <p class="TodoSectionTitle-text"><%=section_title%></p>
    <p class="TodoSectionTitle-remainingCount">

    </p>
  </div>
  <ul>
  <%@bill_amount=0%>
  <%n=0%>
    <% items.each do |item|%>
       <li class="OrderItem">
         <label class="OrderItem-container">
         <div class="OrderMenu">


<% if (item.order_time.strftime("%m/%d/%Y") < Date.today.strftime("%m/%d/%Y"))%>
 <% if show_billamount%>
          <%@bill_amount= @bill_amount + item.item_cost * item.quantity%>
      <%end%>
                          <%n=n+1%>

                      <p class="Ordereditemname">  <%=n%>. Name: <%=item.item_name%>
                    </p>
                    <p class="Ordereditemcost">Cost (<%=item.quantity%>*<%=item.item_cost%> ):Rs <%=item.item_cost * item.quantity%>/-</p>


          </div>
          <p>Ordered On: <%=item.order_time.strftime("%d/%m/%Y")%>  <%=item.order_time.strftime("at %I:%M%p")%></p>


            <%if !item.confirmed%>
          <p class="Pending">Status: Pending </p>
          <%else%>
           <p class="Confirmed">Status: Confirmed </p></p>
           <%end%>
        <%end%>

<%end%>


       </li>

      </label>
    </ul>
    </section>
